extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hi, this Annie's App.
  P "We know we were made for so much more
  p Than ordinary lives
  p It's time for us to more than just survive
  p We were made to thrive"
